<button class="btn btn-primary" (click)="togglePinInfo()">{{ showExtraPinInfo ? 'Less info' : 'More info' }}</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th *ngIf="showExtraPinInfo">Board</th>
            <th *ngIf="showExtraPinInfo">Mode</th>
            <th *ngIf="showExtraPinInfo">Type</th>
            <th *ngIf="showExtraPinInfo">Pin Id</th>
            <th>Value</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pin of pins">
            <td>{{pin.name}}</td>
            <td *ngIf="showExtraPinInfo">{{pin.board}}</td>
            <td *ngIf="showExtraPinInfo">{{pin.mode}}</td>
            <td *ngIf="showExtraPinInfo">{{pin.type}}</td>
            <td *ngIf="showExtraPinInfo">{{pin.id}}</td>
            <td>{{pin.value}}</td>
            <td>
                <div *ngIf="pin.mode === 'out'">
                    <button class="btn btn-success" (click)="operationOn(pin)">On</button>
                    <button class="btn btn-danger" (click)="operationOff(pin)">Off</button>
                </div>
                <div *ngIf="pin.mode === 'in'">
                    <button class="btn btn-primary" (click)="operationRead(pin)">Read</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>